<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <th:block th:replace="partials :: head"></th:block>
  <title>Messenger</title>
  <style>
    th {
      background-color: var(--k9-light-bluegray);
    }
  </style>
</head>
<body>
<div th:replace="partials :: navbar"></div>
<div class="container">
<h1>Messages</h1>
  <table>

    <th class="tbl-header">User</th>
    <div th:each="user : ${users}">

      <tr>
        <td><a th:href="@{|/message/${user.getId()}|}" th:text="${user.getUsername()}"></a> </td>
      </tr>

    </div>

  </table>


</div>

<div th:replace="partials :: scripts"></div>

</body>
</html>