<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <th:block th:replace="partials :: head"></th:block>
    <title>Template</title>

</head>
<body class="dog-photo-background">
<div th:replace="partials :: navbar"></div>
<div class="blue-overlay">
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-sm-12 col-md-9">
                <div class="photo-upload-form-bg">
                    <h1>Upload a Picture of <span th:text="${dog.name}"></span></h1>
                    <!--    <th:block th:if="${message} != null">-->
                    <div class="alert alert-success" th:if="${message}" th:text="${message}"></div>
                    <!--    </th:block>-->
                    <form th:action="@{|/dog/${dog.id}/photo-upload|}" method="POST" enctype="multipart/form-data">
                        <div class="form-group photo-upload-form-group">
                            <label class="custom-file-upload m-2" for="dog-photo">Choose Photo</label>
                            <input class="form-control" id="dog-photo" name="dog-photo" type="file" required/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-k9-blue btn-block btn-lg" type="submit"><i class="fas fa-camera"></i> Upload Photo</button>
                        </div>
                    </form>
                    <div>Add another photo? <a th:href="@{|/dog/${dog.id}/photo-upload|}">Yes</a> <a
                            th:href="@{|/dog/${dog.id}|}">No</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials :: scripts"></div>

</body>
</html>