<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:replace="partials :: head"></th:block>
    <title>Dog Profile</title>
    <style>
        .profile-thumb {
            height: 75px;
            width: 75px;
            border-radius: 50%;
        }

        .dog-thumb {
            height: 100px;
            width: auto;
        }
    </style>

</head>
<body>
<div th:replace="partials :: navbar"></div>

<div class="container">
    <div class="row mb-2">
        <div th:if="${dog.getPhotos().size() == 0}" class="col-sm-12 col-md-4">
            <img class="img-fluid" src="https://lh3.googleusercontent.com/proxy/q2LT85lAnp77l_QWzhffbFUp6kXuWM6TVO6q4fJwEFIRVvbGPqhGZxsPGJ1AB7LTsXtm7fRfKDRnM8xPO6hARk0Q" alt="dog profile picture">
        </div>
        <div th:unless="${dog.getPhotos().size() == 0}" class="col-sm-12 col-md-4">
            <img class="img-fluid" th:src="${dog.getPhotos()[0].url}" alt="dog profile picture">
        </div>
        <div class="col-sm-12 col-md-8">
            <h1 th:text="${dog.getName()}"></h1>
            <p>
                <span th:text="${dog.getBreed()}"></span>,
                <span th:if="${dog.gender} == 'F'">female, </span>
                <span th:unless="${dog.gender} == 'F'">male, </span>
                <span th:text="${dog.getDetails().getAge()}"></span> years<br>
                <span>
                    Average Rating:
                    <span th:if="${dogAverage} == 0">N/A</span>
                    <span th:unless="${dogAverage} == 0" th:text="${dogAverage}"></span>
                </span>
            </p>
            <div class="row">
                <div class="col d-flex">
                    <div class="mr-2">
                        <img class="profile-thumb" th:src="${dog.getOwner().getDetails().getPfp()}"
                             alt="owner profile picture">
                    </div>
                    <div th:text="${dog.getDetails().getBio()}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a th:href="@{|/profile/${dog.getOwner().getId()}|}">Owner Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h3>Photos</h3>
            <div class="alert alert-info" th:if="${dog.photos.size() == 0}">
                <p><span th:text="${dog.name}"></span> does not have any additional photos.</p>
            </div>
            <div>
                <a th:if="${dog.owner.id == currentUser.id}" th:href="@{|/dog/${dog.id}/photo-upload|}">Add photo</a>
            </div>
            <div th:unless="${dog.photos.size() < 1}" class="d-flex justify-content-around flex-wrap">
                <div th:each="photo : ${dog.photos}">
                    <img class="dog-thumb mb-2" th:src="${photo.url}" alt="dog photo">
                    <form th:if="${dog.owner.id == currentUser.id}" th:action="@{|/dog/photo/${photo.id}|}" th:method="POST">
                        <button aria-label='delete item' type='submit'>&times;</button>
                    </form>
                </div>
            </div>
            <!--                        <form th:if="${dog.photos.size() != 0}" th:action="@{|/dog/photo/${dog.photos.get(0).getId()}|}" th:method="POST">-->
            <!--                            <button class="btn btn-dark">Delete Photo</button>-->
            <!--                        </form>-->
        </div>

        <div class="col-sm-12 col-md-8">
            <h3>Reviews</h3>
            <div th:if="${dog.getReviews().size() == 0}">
                <div class="alert alert-info">
                    <p><span th:text="${dog.name}"></span> does not have any reviews yet. Have you dealt with this dog? Help the owner out by writing a review.</p>
                </div>
            </div>
            <div th:unless="${dog.getReviews().size() == 0}" th:each="review : ${dog.getReviews()}" class="mb-2">
                <div class="d-flex">
                    <div class="mr-2">
                        <img
                                th:src="${review.commenter.details.pfp}"
                                class="profile-thumb"
                                alt="user profile picture">
                    </div>
                    <div>
                        <p>
                            <span th:each="i : ${#numbers.sequence(1, review.stars)}">
                                <i class="fas fa-bone bone-icon icon-adjust review-bones"></i>
                            </span>
                            <br>
                            <span th:text="${review.review}"></span>
                        </p>
                    </div>
                </div>
            </div>
            <th:block th:if="${dog.owner.id != currentUser.id}">
                <a th:if="${userHasNotReviewedDog}" th:href="@{|/dogs/review/${dog.id}|}">Rate/Review Dog</a>
            </th:block>
        </div>
    </div>
</div>

<div th:replace="partials :: scripts"></div>

</body>
</html>
