<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Dog Review</title>
  <div th:replace="Partials :: header"></div>

</head>
<body>
<div th:replace="Partials :: navbar"></div>

<div class="container">
  <h1>Review of Dog: <span th:text="${reviewedDog.name}"></span></h1>
  <form th:action="@{|/dogs/review/${id}|}" method="POST" th:object="${dogReview}">
    <div> <!--TODO: just as with user reviews, these can be styled to look like stars or dog biscuits or whatever-->
      <input type="radio" th:field="*{stars}" value="1">
      <input type="radio" th:field="*{stars}" value="2">
      <input type="radio" th:field="*{stars}" value="3">
      <input type="radio" th:field="*{stars}" value="4">
      <input type="radio" th:field="*{stars}" value="5">
    </div>
    <label for="user-review">Review</label>
    <textarea th:field="*{review}" id="user-review" cols="30" rows="10"></textarea>
    <button type="submit">Submit Review</button>
  </form>
</div>

<div th:replace="Partials :: scripts"></div>

</body>
</html>