<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <th:block th:replace="partials :: head"></th:block>
  <title>Template</title>

</head>
<body>
<div th:replace="partials :: navbar"></div>

<div class="container">

  <div class="container justify-content-center">
    <form th:action="@{|/photo/add/${dogId}|}" th:method="post" th:object="${photo}">
        Photo:<br>
        <input th:field="*{url}" required/>
        <br/>
        <br/>
        <input type="submit"/>
<!--        th:object="${photo}"-->
    </form>
  </div>

      <div th:replace="partials :: scripts"></div>
  </div>
</body>
</html>