<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <div th:replace="Partials :: header"></div>
</head>
<body>
<div th:replace="Partials :: navbar"></div>

<div class="container">
    <h1>All Members</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody th:each="user : ${users}">
            <tr>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.status}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div th:replace="Partials :: scripts"></div>

</body>
</html>
