<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:replace="partials :: head"></th:block>
    <title>All Users</title>
</head>
<body>
<div th:replace="partials :: navbar"></div>

<div class="container">
    <h1>All Users</h1>
    <div class="k9-table">
        <table class="table table-responsive-sm">
            <thead class="tbl-header">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
                <th>Set Status</th>
            </tr>
            </thead>
            <tbody th:each="user : ${users}">
            <tr>
                <td><a th:href="@{|/profile/${user.id}|}"><span th:text="${user.username}"></span></a></td>
                <td th:text="${user.email}"></td>
                <td th:if="${user.status} == ${T(net.k9connect.k9connect.models.Statuses).banned}">
                    <span class="status-banned" th:text="${user.status}"></span>
                </td>
                <td th:unless="${user.status} == ${T(net.k9connect.k9connect.models.Statuses).banned}" th:text="${user.status}">
                </td>
                <td>
                    <form th:action="@{/users/all}" method="post" class="form-inline">
                        <input type="hidden" name="user-id" th:value="${user.id}">
                        <select name="user-status" id="user-status" class="form-control">
                            <option th:each="userStatus : ${T(net.k9connect.k9connect.models.Statuses).values()}"
                                    th:value="${userStatus}" th:text="${userStatus}"></option>
                        </select>
                        <button class="btn btn-k9-blue" type="submit">Set Status</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="partials :: scripts"></div>

</body>
</html>
