<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <div th:replace="partials :: header"></div>
</head>
<body>
<div th:replace="partials :: navbar"></div>

<div class="container">
    <h1>Search Results</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Dog Name</th>
                <th>Dog Gender</th>
                <th>Status</th>
                <th>Set Status</th>
            </tr>
        </thead>
        <tbody th:each="user : ${users}">
            <tr>
                <td><a th:href="@{|/profile/${user.id}|}"><span th:text="${user.username}"></span></a></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.status}"></td>
                <td>
                    <form th:action="@{/users/all}" method="post">
                        <input type="hidden" name="user-id" th:value="${user.id}">
                        <select name="user-status" id="user-status">
                            <option th:each="userStatus : ${T(net.k9connect.k9connect.models.Statuses).values()}"
                                    th:value="${userStatus}" th:text="${userStatus}"></option>
                        </select>
                        <button type="submit">Set Status</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div th:replace="partials :: scripts"></div>

</body>
</html>
