<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create Dog</title>
    <div th:replace="Partials :: header"></div>

</head>
<body>
<div th:replace="Partials :: navbar"></div>

<div class="container justify-content-center">
    <form th:action="@{/dog/create}" th:method="post" th:object="${dog}">
            Photo:<br>
            <input th:object="${photo}" th:field="*{url}" required/>
            <br/>
            Name:<br>
            <input th:field="*{name}"/>
            <br/>
            Breed:<br>
            <input th:field="*{breed}" required/>
            <br/>
            <label for="genderSelection">Gender</label>
            <select class="form-control" id="genderSelection" th:field="*{gender}">
                <option>M</option>
                <option>F</option>
            </select>
        <label for="certSelection">Has Certs</label>
        <select th:object="${details}" class="form-control" id="certSelection"  name="has_certs">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <!--        Details:<br>-->
            <!--        <textarea th:field="*{bio}"/>-->
            <!--        <br />-->
            <input type="submit"/>
    </form>


</div>

<div th:replace="Partials :: scripts"></div>

</body>
</html>