<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dogs</title>
    <div th:replace="Partials :: header"></div>

</head>
<body>
<div th:replace="Partials :: navbar"></div>

<div class="containter">

    <div class="input-group rounded justify-content-center">
        <form th:action="@{/dog/search}" th:method="post" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="term">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
<!--        <form th:action="@{/dog/search}" th:method="post">-->
<!--            <label for="male">Male</label>-->
<!--            <input id="male" class="ml-1" type="checkbox" name="gender" value="M">-->
<!--            <label for="female">Female</label>-->
<!--            <input id="female" class="ml-1" type="checkbox" name="gender" value="F">-->
<!--        </form>-->
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Breed</th>
            <th>Gender</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody th:each="dog : ${dogs}">
        <tr>
            <td th:text="${dog.name}"></td>
            <td th:text="${dog.getDetails().getAge()}"></td>
            <td th:text="${dog.breed}"></td>
            <td th:text="${dog.gender}"></td>
            <td><a th:href="@{|/profile/${dog.owner.id}|}"><span th:text="${dog.owner.username}"></span></a></td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="Partials :: scripts"></div>

</body>
</html>