<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <th:block th:replace="partials :: head"></th:block>
  <title>Edit Profile</title>

</head>
<body>
<div th:replace="partials :: navbar"></div>

<div class="container justify-content-center">
  <form th:action="@{/profile/edit}" th:method="post" th:object="${user}">
<!--    Photo:<br>-->
<!--    <input th:field="*{pfp}" required />-->
<!--    <br/>-->
    Phone Number:<br>
    <input th:field="*{phone_number}">
    <br />
    Zip Code:<br>
    <input th:field="*{zipcode}" required />
    <br />
    Bio:<br>
    <textarea th:field="*{bio}"/>
    <br />
    <button class="btn btn-dark" type="submit">Edit</button>
  </form>
  <a href="/user/photo-upload">Upload New Profile Picture</a>
</div>

<div th:replace="partials :: scripts"></div>

</body>
</html>