<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Edit Profile</title>
  <div th:replace="Partials :: header"></div>

</head>
<body>
<div th:replace="Partials :: navbar"></div>

<div class="container justify-content-center">
  <form th:action="@{/user/dogedit}" th:method="post" th:object="${user}">
    Photo:<br>
    <input th:field="*{pfp}" required />
    <br/>
    Phone Number:<br>
    <input th:field="*{phone_number}">
    <br />
    Zip Code:<br>
    <input th:field="*{zipcode}" required />
    <br />
    Bio:<br>
    <textarea th:field="*{bio}"/>
    <br />
    <input onClick="" type="submit" />
  </form>

</div>

<div th:replace="Partials :: scripts"></div>

</body>
</html>