<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <th:block th:replace="partials :: head"></th:block>
    <title>Template</title>
    <style>
        body {
            background-color: var(--k9-blue);
        }
        h1 {
            color: var(--k9-light)
        }
    </style>
</head>
<body>
<div th:replace="partials :: navbar"></div>

<div class="container  centered ">
    <h1>Manage Profile</h1>

    <div class="alert alert-danger" role="alert" th:if="${param.error}">
        Invalid old password.
    </div>

<!--    <br>-->

    <div class="container-custom p-5">
        <form th:action="@{/profile/manage}" th:method="post" th:object="${user}">
            <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input class="form-control" id="username" th:field="*{username}" required/>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" id="email" th:field="*{email}" required/>
            </div>
            <div class="form-group">
                <label for="oldPassword" class="form-label">Old Password</label>
                <input class="form-control" id="oldPassword" th:field="*{oldPassword}" required/>
            </div>
            <div class="form-group">
                <label for="newPassword" class="form-label">New Password</label>
                <input class="form-control" id="newPassword" th:field="*{password}" required/>
            </div>
            <div class="p-0 col-12">
                <button type="submit" class="btn btn-k9-blue btn-block btn-lg">Edit</button>
            </div>
        </form>
    </div>
    <br>
    <form th:action="@{/profile/deactivate}" th:method="post" >
        <div class="p-0 col-12 text-center">
            <button type="submit" class="btn btn-danger btn-lg"><i class="fas fa-user-minus mr-3"></i> Deactivate Account</button>
        </div>
    </form>

</div>

<div th:replace="partials :: scripts"></div>

</body>
</html>