<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <div th:replace="partials :: header"></div>

</head>
<body>
<div th:replace="partials :: navbar"></div>

<div class="container justify-content-center">
    <form th:action="@{/profile/manage}" th:method="post" th:object="${user}">
        User Name:<br>
        <input th:field="*{username}" required />
        <br />
        User Email:<br>
        <input th:field="*{email}" required />
        <br />
        New Password:<br>
        <input  th:field="*{password}" required />
        <br />
<!--        Old Password:<br>-->
<!--        <input th:field="*{password}" required />-->
<!--        <br />-->
        <input type="submit" />
    </form>

    <br>

    <form th:action="@{/profile/deactivate}" th:method="post" >
<!--        <input onClick="" type="submit" />-->
        <button type="submit" class="btn btn-dark">Deactivate Account</button>
    </form>

</div>

<div th:replace="partials :: scripts"></div>

</body>
</html>