<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <th:block th:replace="partials :: head"></th:block>
    <title>Photo Upload</title>

</head>
<body class="dog-photo-background">
<div th:replace="partials :: navbar"></div>
<div class="blue-overlay">
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-sm-12 col-md-9">
                <div class="photo-upload-form-bg">
                    <h1>Upload a Profile Picture</h1>
                    <form th:action="@{/user/photo-upload}" method="POST" enctype="multipart/form-data">
                        <div class="form-group photo-upload-form-group">
                            <label class="custom-file-upload m-2" for="user-photo">Photo Upload</label>
                            <input class="form-control" id="user-photo" name="user-photo" type="file" required/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-k9-blue btn-block btn-lg" type="submit"><i class="far fa-file-image"></i> Upload Photo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="partials :: scripts"></div>

</body>
</html>