<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <th:block th:replace="partials :: head"></th:block>
    <title>Photo Upload</title>

</head>
<body>
<div th:replace="partials :: navbar"></div>

<div class="container">
    <h1>Upload a Profile Picture</h1>
    <form th:action="@{/user/photo-upload}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="user-photo">Upload a Photo</label>
            <input class="form-control" id="user-photo" name="user-photo" type="file" required/>
            <div class="form-group">
                <input class="btn btn-dark" type="submit" value="Upload Photo"/>
            </div>
        </div>
    </form>
</div>

<div th:replace="partials :: scripts"></div>

</body>
</html>