<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Profile</title>
    <div th:replace="Partials :: header"></div>

</head>
<body>
<style>
    .table {
        margin-top: 25px;
    }

    img {
        border: solid black 3px;
    }
</style>
<div th:replace="Partials :: navbar"></div>

<div class="container">

    <div class="justify-content-center">
        <div class="col-4">
            <img height="200px" width="250x" th:src="${user.getDetails().getPfp()}">
        </div>
        <div class="col-8">
            <h1 th:text="${user.getUsername()}"></h1></br>
            <h3>Zip Code: <span th:text="${info.getZipcode()}"></span></h3></br>
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <table class="table">
                <tr>
                    <td><strong>Username: </strong><span th:text="${user.getUsername()}"></span></td>
                </tr>
                <tr>
                    <td>
                        <span th:if="${user.is_admin() == true}">Administrator</span>
                        <span th:if="${user.is_admin() != true}">Regular User</span>
                    </td>
                </tr>
                <tr th:if="${user.is_admin() == true}">
                    <td>
                        <a th:href="@{/users/all}">View All Users</a>
                        <br>
                        <a th:href="@{/dogs/all}">View All Dogs</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <table class="table">
                <td><strong>Phone Number:</strong>
                    <span th:if="${info.getPhone_number() == null || info.getPhone_number().isEmpty()}">User's phone number is private.</span>
                    <span th:if="${info.getPhone_number() != null}" th:text="${info.getPhone_number()}"></span>
                </td>
                <tr>
                    <td><strong>Bio: </strong><span th:text="${info.getBio()}"></span></td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <a href="/dog/create">Add Dog</a>
    </div>

    <div class="bs-example">
        <div class="container">
            <div class="row">
                <div class="card-deck">
                    <div class="card" style="width: 350px" th:each="dog : ${dogs}">
                        <h5 class="text-center"><span th:text="${dog.name}"></span></h5>
                        <p class="cluster text-center">ID#: <span th:text="${dog.id}"></span></p>
                            <img th:if="${dog.photos.size() != 0}" th:src="${dog.photos.get(0).getUrl()}" class="card-img-top" alt="Card image">

                        <hr>

                        <div class="card-body ">
                            <h4 class="card-title">Owner:
                                <span th:text="${dog.owner.username}"></span>
                            </h4>
                            <p class="card-text">Dog gender: <span th:text="${dog.gender}"></span></p>
                            <p class="card-text" th:text="${dog.breed}"></p>
                            <p class="card-text text-center overflow-auto" style="width: auto; height: 200px;" th:text="${dog.details.bio}"></p>
<!--                            <a href="/view-ad?id=${ad.id}" class="btn btn-primary">See Dog</a>-->
                                <a th:href="@{|/dog/edit/${id}|}">Edit Dog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div th:replace="Partials :: scripts"></div>

</body>
</html>