a {
    text-decoration: none;
}
.btn-link {
    border: none;
    color: #000000E6;
}
.btn-link:hover {
    text-decoration: none;
    color: #000000E6;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
}

.msg {
    display: flex;
    /*justify-content: center;*/
    /*float: right;*/
}

.just-left {
    justify-content: left;
    width: 100%;
}
.just-right {
    justify-content: right;
    width: 100%;
}

.message-sent {
    background-color: lightgreen;
    display: block;
    /*clear: left;*/
    margin-bottom: 1px;
    /*margin-right: 5px;*/
    padding-left: 10px;
    padding-right: 10px;

    border: solid black 2px;
    border-radius: 25px;
    width: 45em;
}

.italics {
    font-style: italic;
}

.curved {
    border-radius: 25px;
}

.message-received {
    background-color: lightblue;
    display: block;
    /*clear: left;*/
    margin-bottom: 1px;
    /*margin-right: 5px;*/
    padding-left: 10px;
    padding-right: 10px;

    border: solid black 2px;
    border-radius: 25px;
    width: 45em;
}

.bordered {
    border: solid black 3px;
}
.no-m-top {
    margin-top: 0px;
    /*margin-bottom: 5px;*/
    /*padding: 0;*/
    /*height: 10px;*/
    block-size: fit-content;
}