<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <th:block th:replace="partials :: head"></th:block>
  <title>Contact</title>

</head>
<body>
<div th:replace="partials :: navbar"></div>


    <div class="container">
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
      a matter of hours to help you.</p>
    <div th:if="${param.success}"
    class="alert alert-success" role="alert"
    >
      You have successfully sent your message.
    </div>
      <h1>Contact</h1>
      <!--Grid column-->
      <div class="container-custom">
        <form id="contact-form" name="contact-form" th:action="@{/contact}" th:method="POST">
            <div class="form-group">
                <label for="name" class="">Your name</label>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="email" class="">Your email</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <label for="subject" class="">Subject</label>
                <input type="text" id="subject" name="subject" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <label for="message">Your message</label>
                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
              </div>
            </div>
          </div>
          <button class="btn btnCustom btn-block" type="submit">Submit</button>
        </form>
        <div class="status"></div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="justify-content-center text-center">
        <ul class="contact-info-list list-unstyled mb-0">
          <li><i class="fas fa-map-marker-alt mt-4 fa-2x"></i>
            <p>San Antonio, TX 78228, USA</p>
          </li>

          <li><i class="fas fa-phone mt-4 fa-2x"></i>
            <p>+ 01 210-555-6666</p>
          </li>

          <li><i class="fas fa-envelope mt-4 fa-2x"></i>
            <p>Admin@k9connect.net</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

    </div>

  <!--Section: Contact v.2-->

<div th:replace="partials :: scripts"></div>

</body>
</html>