<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mohave&display=swap" rel="stylesheet">

    <meta charset="UTF-8"/>
    <th:block th:replace="partials :: head"></th:block>
    <link rel="stylesheet" href="/css/landing.css">
    <title>Welcome to K9Connect</title>
</head>
<body>
<!--<div th:replace="partials :: navbar"></div>-->

<div class="blue-overlay d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center">
        <div class="brand">
            <img src="/images/k9connect-logo-white.png" alt="K9Connect Logo">
        </div>
        <div class="links-box">
            <a class="landing-link" href="/map">Find Dogs Nearby</a>
            <a class="landing-link" href="/sign-up">Create an Account</a>
            <a class="landing-link" href="/login">Log In</a>
        </div>
    </div>
</div>

<div th:replace="partials :: scripts"></div>

</body>
</html>